[submodule "Milo/dependencies/glfw"]
	path = Milo/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Milo/dependencies/glm"]
	path = Milo/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Milo/dependencies/VulkanMemoryAllocator"]
	path = Milo/dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Milo/dependencies/shaderc"]
	path = Milo/dependencies/shaderc
	url = https://github.com/google/shaderc.git
[submodule "Milo/dependencies/assimp"]
	path = Milo/dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Milo/dependencies/imgui-node-editor"]
	path = Milo/dependencies/imgui-node-editor
	url = https://github.com/Naitsirc98/imgui-node-editor.git
